node_modules
dist
coverage
.git
.github
docs
*.md
.env
.env.*
!.env.example
tests
.husky
eslint.config.js
.prettierrc.json
.prettierignore
.editorconfig
commitlint.config.cjs
jest.config.ts
tsconfig.jest.json
